@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Russo+One&display=swap');

html,
body {
    margin: 0;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: white;
}

#navbar a {
    font-size: 32px;
    font-family: 'Raleway', sans-serif; 
    text-decoration: none;
    color: #f0f0f0;
    padding: 30px;
}

#navbar a:hover {
    background-color: #f0f0f0;
    color: #000;
}

#welcome-section {
    background-color: #be3144;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-section img {
    margin: 15px;
    margin-bottom: 100px;
    border-radius: 100px;
    border: 10px solid #333333;
}

.project-title {
    margin-bottom: 1rem;
    font-size: 5rem;
    height: auto;
    font-family: Verdana, sans-serif;
}

#welcome-section h1 {
    font-family: 'Russo One', sans-serif;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1);
}

.web-developer {
    margin-top: 1rem;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif; 
    color: #f0f0f0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

#projects {
    padding: 10px;
    text-align: center;
    height: auto;
    font-family: 'Raleway', sans-serif; 
    background-color: white;
    color: black;
}
    
#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1rem;
    text-align: center;
    padding: 2rem;
}

.card {
    width: 100%;
    border: 1px solid #ccc;
    padding: 1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.franjaBlanca {
    background-color: #f0f0f0;
    height: 20px;
}

.franjaNegra {
    height: 20px;
    background-color: #333333;
}

#aboutMe {
    padding: 10px;
    text-align: center;
    height: auto;
    font-family: 'Raleway', sans-serif; 
    background-color: #be3144;
    color: #f0f0f0;
}

#contact {
    padding: 10px 10px 40px 10px;
    text-align: center;
    height: auto;
    font-family: 'Raleway', sans-serif; 
    background-color: #333333;
    color: #f0f0f0;
}

form input {
    text-align: center;
    margin: 10px;
    width: 300px;
}

textarea {
    resize: none;
    margin: 10px;
}

#copy {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: 'Raleway', sans-serif; 
    background-color: white;
    color: black;
}

.datos {
    font-weight: 900;
}


/* Media query */

@media (max-width: 850px) {

    body {
        font-size: 14px;
    }

    #welcome-section {
        height: 80vh;
    }

    #welcome-section img {
        width: 90%;
    }
    
    #navbar a {
        font-size: 24px;
    }

    .project-title {
        font-size: 3.75rem;
    }

}

@media (max-width: 600px) {

    .project-title {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .web-developer {
        font-size: 1.5rem;
    }

    #navbar a {
        padding: 15px;
    }

}

@media (max-width: 400px) {
    .project-title {
        font-size: 2rem;
    }
    .web-developer {
        font-size: 1.2rem;
    }
    /* Ajusta los márgenes según sea necesario */
    #navbar a {
        padding: 20px;
    }
}